    <div id="footer">
      <div class="container" style="text-align:center;">
        <p class="muted credit">Copyright © 北京<a href="http://www.xiaomi.com" target="_blank">小米</a>移动软件有限公司 版权所有</p>
      </div>
    </div>