    <script src="${contextPath}/js/jquery-1.9.1.min.js" />
    <script src="${contextPath}/js/bootstrapx.js" />
    <script src="${contextPath}/js/jquery.validate.js" />
    <script src="${contextPath}/js/jquery.metadata.js" />
    <script src="${contextPath}/${bootstrap_home}/js/bootstrap.js" type="text/javascript" />
    <script src="${contextPath}/js/common.js" />